.top-container {
  background-color: #d4e2d4;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #ffffff;
  padding: 100px;
}

.bottom-container {
  background-color: #d4e2d4;
  padding: 30px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Bad Script', cursive;
  font-size: 5rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Quicksand', cursive;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Quicksand', cursive;
  font-size: 1.5rem;
color: #11999E;}

.forest {
  width: 20%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 200%;
}

.computer {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.implements {
  width: 20%;
  float: right;
  margin-left: 30px;
}

hr {
  border: none;
  border-top:10px dotted;
  color:#EAF6F6;
  height:1px;
  width:5%;
}

.footerlink {
  line-height: 200%;
}

.BUTTON_LEH {
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
   background-image: -moz-linear-gradient(top, #11999E, #66BFBF);
   background-image: -ms-linear-gradient(top, #11999E, #66BFBF);
   background-image: -o-linear-gradient(top, #11999E, #66BFBF);
   background-image: -webkit-gradient(to bottom, #11999E, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Quicksand';
   font-size: 29px;
   font-weight: 100;
   padding: 16px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_LEH:hover {
   background: #6BD6D9;
   border: solid #11999E 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

a {
  color: #66BFBF;
  font-family: 'Quicksand', cursive;
  margin: 10px 20px;
  text-decoration: none;
}
